bin/
obj/

*.log
*.user
*.vspscc
.vscode/

.idea/
.vscode/

*.suo
*.user
*.userosscache
*.sln.docstates

.idea/

*.db
*.pdb
*.exe
*.dll

Thumbs.db
.DS_Store

project.assets.json
project.nuget.cache
project.packagespec.json
*.nupkg

*_GeneratedMSBuildEditorConfig.editorconfig
*.cache