.input-group-text,
.form-control,
.filter-button,
.btn-outline-secondary {
  background-color: var(--brew-nav-backgound-primary);
  color: var(--brew-nav-color);
  border: 1px solid var(--brew-nav-backgound-primary);
}

.form-control {
  color: var(--brew-color-primary);
  background-color: transparent;
}

input::placeholder {
  color: var(--brew-color-primary);
  opacity: 0.2;
}
