<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text"> Start date </span>
  </div>
  <input type="text" class="form-control" placeholder="2024-12-02" aria-label="start date" [(ngModel)]="startDateStr">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text"> Start time </span>
  </div>
  <input type="text" class="form-control" placeholder="14:30:00" aria-label="start time" [(ngModel)]="startTimeStr">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text"> End date </span>
  </div>
  <input type="text" class="form-control" placeholder="2024-11-02" aria-label="end date" [(ngModel)]="endDateStr">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="setCurrentEndDate()">Set to Current</button>
  </div>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"> End time </span>
  </div>
  <input type="text" class="form-control" placeholder="14:30:00" aria-label="end time" [(ngModel)]="endTimeStr">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="setCurrentEndTime()">Set to Current</button>
  </div>
</div>

<div class="d-flex justify-content-between">
  <button class="btn filter-button" (click)="onDateChanged()">Search</button>
  <button class="btn filter-button" (click)="clearFilters()">Clear</button>
</div>
