<div class="d-flex flex-column align-items-center" style="height: 80vh;">
  <div class="mb-3">
    <button mat-raised-button color="primary" (click)="onExportCsv()">
      Export to CSV
    </button>
    <button mat-raised-button color="accent" (click)="onShowCsv()">
      Show CSV Data
    </button>
  </div>
  <div style="height: 80%; width: 80%">
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      [class]="themeClass"
      [rowData]="sensorData"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="pagination"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
</div>
