<div class="row w-100 d-flex flex-column align-items-center mt-4">
  <div class="col-md-10 " >

    <div class="row w-100 justify-content-around">
      <div class="col">

        <input type="text" value="Start time" readonly>
        <input
          type="date"
          id="startDate"
          [(ngModel)]="startDate"
          name="trip-start"
          value="2024-12-13"
          min="2018-01-01"
          max="2025-12-31"
        />
        <input type="time" id="startTime" [(ngModel)]="startTime" name="appt" required />
        <button (click)="setStartDateTimeToNow()">Set to now</button>

        <!--<div class="mb-1"></div>-->

        <input class="ms-5" type="text" value="End time" readonly>
        <input
          type="date"
          id="endDate"
          [(ngModel)]="endDate"
          name="trip-start"
          value="2018-07-22"
          min="2018-01-01"
          max="2025-12-31"
        />
        <input type="time" id="endTime"  [(ngModel)]="endTime" name="appt" required />
        <button (click)="setEndDateTimeToNow()">Set to now</button>

        <button class="btn btn-outline-secondary ms-3 mb-2 find-button" (click)="getDataFromDataRange()">Get Data</button>
      </div>
    </div>

    <div style="height: 75vh;">
      <ag-grid-angular
        style="width: 100%; height: 100%;"
        (filterChanged)="onFilterChanged()"
        [class]="themeClass"
        [rowData]="sensorData"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        [pagination]="pagination"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </div>

    <div class="row g-3 mt-4 w-100 justify-content-around mb-5">

      <div class="col-md-5">
        <div class="card h-100">
          <div class="card-header">
            <button class="btn btn-secondary " (click)="onShowJson()">Show JSON Data</button>
            <button class="btn btn-secondary" (click)="onDownloadJson()"><fa-icon [icon]="faDownload" class="navbar-brand"></fa-icon></button>
          </div>
          <div class="card-body" style="height: 50vh; overflow: auto">
            <pre id="jsonOutput" style="white-space: pre-wrap;" *ngIf="jsonData !== null">{{ jsonData | json }}</pre>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card h-100" >
          <div class="card-header">
            <button class="btn btn-secondary" (click)="onShowCsv()">Show CSV Data</button>
            <button class="btn btn-secondary" (click)="onDownloadCsv()"><fa-icon [icon]="faDownload" class="navbar-brand"></fa-icon></button>
          </div>
          <div class="card-body" style="height: 50vh; overflow: auto">
            <pre id="csvOutput" style="white-space: pre-wrap;">{{ csvData }}</pre>
          </div>
        </div>
      </div>

    </div>

    <app-sensor-chart></app-sensor-chart>

    <div class="mt-5">
    </div>

  </div>
</div>




