<div class="row w-100 d-flex flex-column align-items-center mt-4">
  <div class="col-md-10 " >

    <div class="row w-100 align-items-center ">

      <div class="col d-flex align-items-center justify-content-start" [ngStyle]="{ visibility: shouldFindAll ? 'hidden' : 'visible' }">

        <input class="ms-5" type="text" value="Start time" style="width: 100px" readonly>
        <input
          type="date"
          id="startDate"
          [(ngModel)]="startDate"
          name="trip-start"
          value="2024-12-13"
          min="2018-01-01"
          max="2025-12-31" />
        <input type="time" id="startTime" [(ngModel)]="startTime" name="appt" required />
        <button (click)="setStartDateTimeToNow()">Set to now</button>

        <input class="ms-5" type="text" value="End time" readonly style="width: 100px">
        <input
          type="date"
          id="endDate"
          [(ngModel)]="endDate"
          name="trip-start"
          value="2018-07-22"
          min="2018-01-01"
          max="2025-12-31"
        />
        <input type="time" id="endTime"  [(ngModel)]="endTime" name="appt" required />
        <button (click)="setEndDateTimeToNow()">Set to now</button>

      </div>

      <div class="col-1 d-flex align-items-center">
        <label>
          <input type="checkbox" [(ngModel)]="shouldFindAll" />
          Find All
        </label>
      </div>

      <div class="col-1 d-flex align-items-center justify-content-end">
        <button class="btn btn-outline-secondary find-button" (click)="getData()">Get Data</button>
      </div>

    </div>

    <div style="height: 75vh;">
      <app-sensor-table
        [rowData]="sensorData"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        [pagination]="pagination"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
        (filterChanged)="onFilterChanged()"
        (sortChanged)="onSortChanged()"
        (firstDataRendered)="onFirstDataRendered()"
        (gridReady)="onGridReady($event)">
      </app-sensor-table>
    </div>

    <div class="mt-5">
    </div>

    <app-sensors-chart [sensorData]="displayedSensorData"></app-sensors-chart>

    <app-sensor-ag-chart [sensorData]="displayedSensorData"></app-sensor-ag-chart>

    <div class="mt-5">
    </div>

    <div class="row g-3 mt-4 w-100 justify-content-around mb-5">

      <div class="col-md-5">
        <div class="card h-100">
          <div class="card-header">
            <button class="btn btn-secondary " (click)="onShowJson()">Reload JSON Data</button>
            <button class="btn btn-secondary" (click)="onDownloadJson()"><fa-icon [icon]="faDownload" class="navbar-brand"></fa-icon></button>
          </div>
          <div class="card-body" style="height: 50vh; overflow: auto">
            <pre id="jsonOutput" style="white-space: pre-wrap;" *ngIf="jsonData !== null">{{ jsonData | json }}</pre>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card h-100" >
          <div class="card-header">
            <button class="btn btn-secondary" (click)="onShowCsv()">Reload CSV Data</button>
            <button class="btn btn-secondary" (click)="onDownloadCsv()"><fa-icon [icon]="faDownload" class="navbar-brand"></fa-icon></button>
          </div>
          <div class="card-body" style="height: 50vh; overflow: auto">
            <pre id="csvOutput" style="white-space: pre-wrap;">{{ csvData }}</pre>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>




