<div class="d-flex flex-column align-items-center" style="height: 80vh;">
  <div class="mb-3">
    <button mat-raised-button color="primary" (click)="onExportCsv()">
      Export to CSV
    </button>
    <button mat-raised-button color="accent" (click)="onShowCsv()">
      Show CSV Data
    </button>
  </div>
  <div style="height: 80%; width: 80%">
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      [class]="themeClass"
      [rowData]="sensorData"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="pagination"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
</div>

<mat-form-field>
  <mat-label>Meeting date</mat-label>
  <input matInput [matDatepicker]="datepicker" [(ngModel)]="value">
  <mat-datepicker #datepicker/>
  <mat-datepicker-toggle [for]="datepicker" matSuffix/>
</mat-form-field>

<mat-form-field>
  <mat-label>Meeting time</mat-label>
  <input matInput
         [matTimepicker]="timepicker"
         [(ngModel)]="value"
         [ngModelOptions]="{updateOn: 'blur'}">
  <mat-timepicker #timepicker/>
  <mat-timepicker-toggle [for]="timepicker" matSuffix/>
</mat-form-field>

<p>Value: {{value}}</p>
